#add-item {
    margin-bottom: 2.5rem;

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        input {
            padding: .7rem;
            border-radius: 0.75rem;
            border: 1px solid var(--border-primary);
            transition: all 0.3s ease;

            &::placeholder {
                color: var(--content-tertiary);
            }

            &:hover {
                border: 1px solid var(--border-hover);
            }

            &:focus {  
                outline: 2px solid var(--color-brand);
            }
        }

        button {
            padding: .7rem;
            border-radius: 0.75rem;
            background-color: var(--color-brand);
            color: var(--bg-secondary);
            font:var(--label);
            border: none;
            transition: all 0.5s ease;

            &:hover {
                background-color: var(--color-brand-hover);
            }
        }
    }
}