#status-bar {
    display: flex;
    gap: .75rem;
    background-color: var(--color-danger);
    padding: .7rem;
    border-radius: .75rem;

    p {
        width: 100%;
        font: var(--label);
        font-size: .9rem;
        color: var(--bg-secondary);
    }
}

@media (width >= 80rem) {
    #status-bar {
        width: 39.1875rem;
    }
}